In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('demography_with_age.csv')

df

,Year,Population,Male,Male_Age(0-10),Male_Age(10-20),Male_Age(20-30),Male_Age(30-40),Male_Age(40-50),Male_Age(50-60),Male_Age(60-70),...,Death Coef(Male),Death Coef(Female),Total Number of Death,Death Coef(Child),Death Coef(Boys),Death Coef(Girls),Number of Arrivals,Number of Deaprtures,Migration Difference,Total Migration Difference
0,2000,1 130 439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"12,80","9,10",12 183,"13,35","14,36","12,30",2 675,10 747,-8 072,-4 397
1,2001,1 128 759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"12,20","9,20",11 915,"14,88","16,78","12,89",4 836,10 492,-5 656,1 798
2,2002,1 132 424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"12,00","9,10",11 898,"16,83","20,14","13,36",4 824,7 937,-3 113,13 022
3,2003,1 149 641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"13,00","9,40",12 839,"15,09","18,29","11,62",5 496,5 637,-141,18 799
4,2004,1 175 208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"13,40","8,90",13 056,"12,86","15,50","10,02",5 023,4 621,402,23 686
5,2005,1 209 485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"13,50","9,00",13 535,"14,30","15,48","13,08",5 308,3 743,1 565,26 209
6,2006,1 247 896,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"11,40","8,20",12 199,"11,76","13,41","9,96",4 437,2 981,1 456,23 430
7,2007,1 287 246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"10,60","8,10",12 048,"13,29","15,18","11,23",3 464,3 036,428,19 916
8,2008,1 324 739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"10,40","8,00",12 226,"19,21","20,67","17,65",2 843,2 125,718,18 551
9,2009,1 361 877,625 644,89334.0,102450.0,141017.0,100169.0,82217.0,57734.0,29312.0,...,"9,06","7,29",11 148,"16,31","17,27","15,29",2 886,2 795,91,14 448
10,2010,1 390 610,637 764,95161.0,94449.0,147895.0,103029.0,83191.0,59499.0,30048.0,...,"9,51","7,53",11 826,"17,08","19,87","14,08",2 894,2 524,370,8 833
11,2011,1 413 152,646 872,100442.0,87203.0,151700.0,105493.0,83461.0,62063.0,31005.0,...,"9,04","7,12",11 446,"17,05","18,55","15,42",3 167,3 046,121,22 465
12,2012,1 449 366,660 748,105964.0,84186.0,156334.0,107974.0,83869.0,64377.0,32069.0,...,"8,69","6,84",11 230,"12,60","13,70","11,43",2 789,2 935,-146,9 875
13,2013,1 474 849,671 973,112335.0,79484.0,158616.0,110798.0,84664.0,66304.0,33834.0,...,"8,17","6,49",10 819,"10,50","12,34","8,54",1 848,2 039,-191,15 558
14,2014,1 506 899,686 681,118202.0,79391.0,159218.0,114085.0,85692.0,68438.0,36213.0,...,"7,96","6,43",11 049,"8,27","9,18","7,28",1 816,2 413,-597,21 992
15,2015,1 641 444,750 417,131808.0,87043.0,167420.0,126831.0,93654.0,75528.0,41772.0,...,"7,09","5,68",10 579,"8,99","9,68","8,25",1 707,2 880,-1 173,40 742
16,2016,1 702 766,778 823,139723.0,90801.0,170195.0,132967.0,96233.0,77778.0,44595.0,...,"6,88","5,72",10 794,"7,58","8,70","6,39",1 783,3 719,-1 936,27 632
17,2017,1 751 308,800 421,145438.0,92740.0,169009.0,140315.0,99247.0,79437.0,46799.0,...,"6,70","5,69",10 935,"6,93","7,40","6,42",1 731,3 535,-1 804,30 197
18,2018,1 801 993,822 587,151868.0,96433.0,164319.0,149947.0,101774.0,80743.0,48671.0,...,"6,78","6,06",11 678,"8,36","9,34","7,32",1 449,3 545,-2 096,31 082
19,2019,1 854 656,847 273,157886.0,103336.0,156473.0,160891.0,105243.0,82079.0,50981.0,...,"7,16","5,93",12 240,"8,05","9,40","6,62",1 403,3 622,-2 219,40 098
20,2020,1 916 822,879 675,165081.0,112180.0,149022.0,174232.0,109507.0,83836.0,53673.0,...,"8,28","6,68",14 440,"7,64","8,53","6,66",1 690,2 650,-960,39 350
21,2021,1 977 258,907 051,171780.0,120405.0,140367.0,184891.0,114218.0,85027.0,56762.0,...,"9,68","8,62",18 220,"10,48","11,16","9,70",1 882,3 234,-1 352,27 901
22,2022,2 101 485,976 659,203564.0,157549.0,140597.0,168248.0,118383.0,88327.0,63577.0,...,"6,24","5,29",12 221,"5,03","5,69","4,31",3 286,2 060,1 226,36 528
23,2023,2 161 902,1 003 940,204568.0,161132.0,145597.0,174076.0,123158.0,90234.0,66246.0,...,"5,92","5,01",11 923,"5,99","6,54","5,39",6 409,1 312,5 097,43 210
24,2024,2 228 677,1 035 807,207611.0,165215.0,151519.0,179054.0,128774.0,93137.0,68981.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df[9:]
df

,Year,Population,Male,Male_Age(0-10),Male_Age(10-20),Male_Age(20-30),Male_Age(30-40),Male_Age(40-50),Male_Age(50-60),Male_Age(60-70),...,Death Coef(Male),Death Coef(Female),Total Number of Death,Death Coef(Child),Death Coef(Boys),Death Coef(Girls),Number of Arrivals,Number of Deaprtures,Migration Difference,Total Migration Difference
9,2009,1 361 877,625 644,89334.0,102450.0,141017.0,100169.0,82217.0,57734.0,29312.0,...,"9,06","7,29",11 148,"16,31","17,27","15,29",2 886,2 795,91,14 448
10,2010,1 390 610,637 764,95161.0,94449.0,147895.0,103029.0,83191.0,59499.0,30048.0,...,"9,51","7,53",11 826,"17,08","19,87","14,08",2 894,2 524,370,8 833
11,2011,1 413 152,646 872,100442.0,87203.0,151700.0,105493.0,83461.0,62063.0,31005.0,...,"9,04","7,12",11 446,"17,05","18,55","15,42",3 167,3 046,121,22 465
12,2012,1 449 366,660 748,105964.0,84186.0,156334.0,107974.0,83869.0,64377.0,32069.0,...,"8,69","6,84",11 230,"12,60","13,70","11,43",2 789,2 935,-146,9 875
13,2013,1 474 849,671 973,112335.0,79484.0,158616.0,110798.0,84664.0,66304.0,33834.0,...,"8,17","6,49",10 819,"10,50","12,34","8,54",1 848,2 039,-191,15 558
14,2014,1 506 899,686 681,118202.0,79391.0,159218.0,114085.0,85692.0,68438.0,36213.0,...,"7,96","6,43",11 049,"8,27","9,18","7,28",1 816,2 413,-597,21 992
15,2015,1 641 444,750 417,131808.0,87043.0,167420.0,126831.0,93654.0,75528.0,41772.0,...,"7,09","5,68",10 579,"8,99","9,68","8,25",1 707,2 880,-1 173,40 742
16,2016,1 702 766,778 823,139723.0,90801.0,170195.0,132967.0,96233.0,77778.0,44595.0,...,"6,88","5,72",10 794,"7,58","8,70","6,39",1 783,3 719,-1 936,27 632
17,2017,1 751 308,800 421,145438.0,92740.0,169009.0,140315.0,99247.0,79437.0,46799.0,...,"6,70","5,69",10 935,"6,93","7,40","6,42",1 731,3 535,-1 804,30 197
18,2018,1 801 993,822 587,151868.0,96433.0,164319.0,149947.0,101774.0,80743.0,48671.0,...,"6,78","6,06",11 678,"8,36","9,34","7,32",1 449,3 545,-2 096,31 082
19,2019,1 854 656,847 273,157886.0,103336.0,156473.0,160891.0,105243.0,82079.0,50981.0,...,"7,16","5,93",12 240,"8,05","9,40","6,62",1 403,3 622,-2 219,40 098
20,2020,1 916 822,879 675,165081.0,112180.0,149022.0,174232.0,109507.0,83836.0,53673.0,...,"8,28","6,68",14 440,"7,64","8,53","6,66",1 690,2 650,-960,39 350
21,2021,1 977 258,907 051,171780.0,120405.0,140367.0,184891.0,114218.0,85027.0,56762.0,...,"9,68","8,62",18 220,"10,48","11,16","9,70",1 882,3 234,-1 352,27 901
22,2022,2 101 485,976 659,203564.0,157549.0,140597.0,168248.0,118383.0,88327.0,63577.0,...,"6,24","5,29",12 221,"5,03","5,69","4,31",3 286,2 060,1 226,36 528
23,2023,2 161 902,1 003 940,204568.0,161132.0,145597.0,174076.0,123158.0,90234.0,66246.0,...,"5,92","5,01",11 923,"5,99","6,54","5,39",6 409,1 312,5 097,43 210
24,2024,2 228 677,1 035 807,207611.0,165215.0,151519.0,179054.0,128774.0,93137.0,68981.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df = df[df['Year'] != 2024]
df['Population'] = df['Population'].astype(str).str.replace(' ', '').astype(int)
df['Male'] = df['Male'].astype(str).str.replace(' ', '')
df['Female'] = df['Female'].astype(str).str.replace(' ', '')


columns = ['Number of Death(Male)', 'Number of Death(Female)', 'Total Number of Death',
           'Number of Arrivals', 'Number of Deaprtures', 'Migration Difference',
           'Total Migration Difference']

# Iterate over the list of column names
for column in columns:
    # Apply string manipulation and conversion for each column
    df[column] = df[column].astype(str).str.replace(' ', '').str.replace('\xa0', '').astype(float)

# Now, the specified columns have been modified to integers without spaces or non-breaking spaces
df

/tmp/ipykernel_21191/4109002466.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Population'] = df['Population'].astype(str).str.replace(' ', '').astype(int)
/tmp/ipykernel_21191/4109002466.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Male'] = df['Male'].astype(str).str.replace(' ', '')
/tmp/ipykernel_21191/4109002466.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Female'] = df['Female'].astype(str).str.replace(' ', '')
/tmp/ipykernel_21191/4109002466.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype(str).str.replace(' ', '').str.replace('\xa0', '').astype(float)
/tmp/ipykernel_21191/4109002466.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype(str).str.replace(' ', '').str.replace('\xa0', '').astype(float)
/tmp/ipykernel_21191/4109002466.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype(str).str.replace(' ', '').str.replace('\xa0', '').astype(float)
/tmp/ipykernel_21191/4109002466.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype(str).str.replace(' ', '').str.replace('\xa0', '').astype(float)
/tmp/ipykernel_21191/4109002466.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype(str).str.replace(' ', '').str.replace('\xa0', '').astype(float)
/tmp/ipykernel_21191/4109002466.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype(str).str.replace(' ', '').str.replace('\xa0', '').astype(float)
/tmp/ipykernel_21191/4109002466.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype(str).str.replace(' ', '').str.replace('\xa0', '').astype(float)

,Year,Population,Male,Male_Age(0-10),Male_Age(10-20),Male_Age(20-30),Male_Age(30-40),Male_Age(40-50),Male_Age(50-60),Male_Age(60-70),...,Death Coef(Male),Death Coef(Female),Total Number of Death,Death Coef(Child),Death Coef(Boys),Death Coef(Girls),Number of Arrivals,Number of Deaprtures,Migration Difference,Total Migration Difference
9,2009,1361877,625644,89334.0,102450.0,141017.0,100169.0,82217.0,57734.0,29312.0,...,"9,06","7,29",11148.0,"16,31","17,27","15,29",2886.0,2795.0,91.0,14448.0
10,2010,1390610,637764,95161.0,94449.0,147895.0,103029.0,83191.0,59499.0,30048.0,...,"9,51","7,53",11826.0,"17,08","19,87","14,08",2894.0,2524.0,370.0,8833.0
11,2011,1413152,646872,100442.0,87203.0,151700.0,105493.0,83461.0,62063.0,31005.0,...,"9,04","7,12",11446.0,"17,05","18,55","15,42",3167.0,3046.0,121.0,22465.0
12,2012,1449366,660748,105964.0,84186.0,156334.0,107974.0,83869.0,64377.0,32069.0,...,"8,69","6,84",11230.0,"12,60","13,70","11,43",2789.0,2935.0,-146.0,9875.0
13,2013,1474849,671973,112335.0,79484.0,158616.0,110798.0,84664.0,66304.0,33834.0,...,"8,17","6,49",10819.0,"10,50","12,34","8,54",1848.0,2039.0,-191.0,15558.0
14,2014,1506899,686681,118202.0,79391.0,159218.0,114085.0,85692.0,68438.0,36213.0,...,"7,96","6,43",11049.0,"8,27","9,18","7,28",1816.0,2413.0,-597.0,21992.0
15,2015,1641444,750417,131808.0,87043.0,167420.0,126831.0,93654.0,75528.0,41772.0,...,"7,09","5,68",10579.0,"8,99","9,68","8,25",1707.0,2880.0,-1173.0,40742.0
16,2016,1702766,778823,139723.0,90801.0,170195.0,132967.0,96233.0,77778.0,44595.0,...,"6,88","5,72",10794.0,"7,58","8,70","6,39",1783.0,3719.0,-1936.0,27632.0
17,2017,1751308,800421,145438.0,92740.0,169009.0,140315.0,99247.0,79437.0,46799.0,...,"6,70","5,69",10935.0,"6,93","7,40","6,42",1731.0,3535.0,-1804.0,30197.0
18,2018,1801993,822587,151868.0,96433.0,164319.0,149947.0,101774.0,80743.0,48671.0,...,"6,78","6,06",11678.0,"8,36","9,34","7,32",1449.0,3545.0,-2096.0,31082.0
19,2019,1854656,847273,157886.0,103336.0,156473.0,160891.0,105243.0,82079.0,50981.0,...,"7,16","5,93",12240.0,"8,05","9,40","6,62",1403.0,3622.0,-2219.0,40098.0
20,2020,1916822,879675,165081.0,112180.0,149022.0,174232.0,109507.0,83836.0,53673.0,...,"8,28","6,68",14440.0,"7,64","8,53","6,66",1690.0,2650.0,-960.0,39350.0
21,2021,1977258,907051,171780.0,120405.0,140367.0,184891.0,114218.0,85027.0,56762.0,...,"9,68","8,62",18220.0,"10,48","11,16","9,70",1882.0,3234.0,-1352.0,27901.0
22,2022,2101485,976659,203564.0,157549.0,140597.0,168248.0,118383.0,88327.0,63577.0,...,"6,24","5,29",12221.0,"5,03","5,69","4,31",3286.0,2060.0,1226.0,36528.0
23,2023,2161902,1003940,204568.0,161132.0,145597.0,174076.0,123158.0,90234.0,66246.0,...,"5,92","5,01",11923.0,"5,99","6,54","5,39",6409.0,1312.0,5097.0,43210.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 9 to 23
Data columns (total 39 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        15 non-null     int64
 1   Population                  15 non-null     int64
 2   Male                        15 non-null     object
 3   Male_Age(0-10)              15 non-null     float64
 4   Male_Age(10-20)             15 non-null     float64
 5   Male_Age(20-30)             15 non-null     float64
 6   Male_Age(30-40)             15 non-null     float64
 7   Male_Age(40-50)             15 non-null     float64
 8   Male_Age(50-60)             15 non-null     float64
 9   Male_Age(60-70)             15 non-null     float64
 10  Male_Age(70-80)             15 non-null     float64
 11  Male_Age(80+)               15 non-null     float64
 12  Female                      15 non-null     object
 13  Female_Age(0-10)            15 non-null     float64
 14  Female_Age(10-20)           15 non-null     float64
 15  Female_Age(20-30)           15 non-null     float64
 16  Female_Age(30-40)           15 non-null     float64
 17  Female_Age(40-50)           15 non-null     float64
 18  Female_Age(50-60)           15 non-null     float64
 19  Female_Age(60-70)           15 non-null     float64
 20  Female_Age(70-80)           15 non-null     float64
 21  Female_Age(80+)             15 non-null     float64
 22  Birth Coef                  15 non-null     object
 23  Number of Bitrh(Boys)       15 non-null     float64
 24  Number of Bitrh(Girls)      15 non-null     float64
 25  Total number of Birth       15 non-null     float64
 26  Death Coef                  15 non-null     object
 27  Number of Death(Male)       15 non-null     float64
 28  Number of Death(Female)     15 non-null     float64
 29  Death Coef(Male)            15 non-null     object
 30  Death Coef(Female)          15 non-null     object
 31  Total Number of Death       15 non-null     float64
 32  Death Coef(Child)           15 non-null     object
 33  Death Coef(Boys)            15 non-null     object
 34  Death Coef(Girls)           15 non-null     object
 35  Number of Arrivals          15 non-null     float64
 36  Number of Deaprtures        15 non-null     float64
 37  Migration Difference        15 non-null     float64
 38  Total Migration Difference  15 non-null     float64
dtypes: float64(28), int64(2), object(9)
memory usage: 4.7+ KB

In [6]:
df['Male'] = pd.to_numeric(df['Male'], errors='coerce')
df['Female'] = pd.to_numeric(df['Female'], errors='coerce')

/tmp/ipykernel_21191/1116393672.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Male'] = pd.to_numeric(df['Male'], errors='coerce')
/tmp/ipykernel_21191/1116393672.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Female'] = pd.to_numeric(df['Female'], errors='coerce')

In [7]:
coef_columns = ['Birth Coef', 'Death Coef', 'Death Coef(Male)', 'Death Coef(Female)', 'Death Coef(Child)', 'Death Coef(Boys)', 'Death Coef(Girls)']
for coef in coef_columns:
    df[coef] = df[coef].str.replace(',', '.').astype(float)
df

/tmp/ipykernel_21191/1664053672.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[coef] = df[coef].str.replace(',', '.').astype(float)
/tmp/ipykernel_21191/1664053672.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[coef] = df[coef].str.replace(',', '.').astype(float)
/tmp/ipykernel_21191/1664053672.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[coef] = df[coef].str.replace(',', '.').astype(float)
/tmp/ipykernel_21191/1664053672.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[coef] = df[coef].str.replace(',', '.').astype(float)
/tmp/ipykernel_21191/1664053672.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[coef] = df[coef].str.replace(',', '.').astype(float)
/tmp/ipykernel_21191/1664053672.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[coef] = df[coef].str.replace(',', '.').astype(float)
/tmp/ipykernel_21191/1664053672.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[coef] = df[coef].str.replace(',', '.').astype(float)

,Year,Population,Male,Male_Age(0-10),Male_Age(10-20),Male_Age(20-30),Male_Age(30-40),Male_Age(40-50),Male_Age(50-60),Male_Age(60-70),...,Death Coef(Male),Death Coef(Female),Total Number of Death,Death Coef(Child),Death Coef(Boys),Death Coef(Girls),Number of Arrivals,Number of Deaprtures,Migration Difference,Total Migration Difference
9,2009,1361877,625644,89334.0,102450.0,141017.0,100169.0,82217.0,57734.0,29312.0,...,9.06,7.29,11148.0,16.31,17.27,15.29,2886.0,2795.0,91.0,14448.0
10,2010,1390610,637764,95161.0,94449.0,147895.0,103029.0,83191.0,59499.0,30048.0,...,9.51,7.53,11826.0,17.08,19.87,14.08,2894.0,2524.0,370.0,8833.0
11,2011,1413152,646872,100442.0,87203.0,151700.0,105493.0,83461.0,62063.0,31005.0,...,9.04,7.12,11446.0,17.05,18.55,15.42,3167.0,3046.0,121.0,22465.0
12,2012,1449366,660748,105964.0,84186.0,156334.0,107974.0,83869.0,64377.0,32069.0,...,8.69,6.84,11230.0,12.60,13.70,11.43,2789.0,2935.0,-146.0,9875.0
13,2013,1474849,671973,112335.0,79484.0,158616.0,110798.0,84664.0,66304.0,33834.0,...,8.17,6.49,10819.0,10.50,12.34,8.54,1848.0,2039.0,-191.0,15558.0
14,2014,1506899,686681,118202.0,79391.0,159218.0,114085.0,85692.0,68438.0,36213.0,...,7.96,6.43,11049.0,8.27,9.18,7.28,1816.0,2413.0,-597.0,21992.0
15,2015,1641444,750417,131808.0,87043.0,167420.0,126831.0,93654.0,75528.0,41772.0,...,7.09,5.68,10579.0,8.99,9.68,8.25,1707.0,2880.0,-1173.0,40742.0
16,2016,1702766,778823,139723.0,90801.0,170195.0,132967.0,96233.0,77778.0,44595.0,...,6.88,5.72,10794.0,7.58,8.70,6.39,1783.0,3719.0,-1936.0,27632.0
17,2017,1751308,800421,145438.0,92740.0,169009.0,140315.0,99247.0,79437.0,46799.0,...,6.70,5.69,10935.0,6.93,7.40,6.42,1731.0,3535.0,-1804.0,30197.0
18,2018,1801993,822587,151868.0,96433.0,164319.0,149947.0,101774.0,80743.0,48671.0,...,6.78,6.06,11678.0,8.36,9.34,7.32,1449.0,3545.0,-2096.0,31082.0
19,2019,1854656,847273,157886.0,103336.0,156473.0,160891.0,105243.0,82079.0,50981.0,...,7.16,5.93,12240.0,8.05,9.40,6.62,1403.0,3622.0,-2219.0,40098.0
20,2020,1916822,879675,165081.0,112180.0,149022.0,174232.0,109507.0,83836.0,53673.0,...,8.28,6.68,14440.0,7.64,8.53,6.66,1690.0,2650.0,-960.0,39350.0
21,2021,1977258,907051,171780.0,120405.0,140367.0,184891.0,114218.0,85027.0,56762.0,...,9.68,8.62,18220.0,10.48,11.16,9.70,1882.0,3234.0,-1352.0,27901.0
22,2022,2101485,976659,203564.0,157549.0,140597.0,168248.0,118383.0,88327.0,63577.0,...,6.24,5.29,12221.0,5.03,5.69,4.31,3286.0,2060.0,1226.0,36528.0
23,2023,2161902,1003940,204568.0,161132.0,145597.0,174076.0,123158.0,90234.0,66246.0,...,5.92,5.01,11923.0,5.99,6.54,5.39,6409.0,1312.0,5097.0,43210.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 9 to 23
Data columns (total 39 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        15 non-null     int64
 1   Population                  15 non-null     int64
 2   Male                        15 non-null     int64
 3   Male_Age(0-10)              15 non-null     float64
 4   Male_Age(10-20)             15 non-null     float64
 5   Male_Age(20-30)             15 non-null     float64
 6   Male_Age(30-40)             15 non-null     float64
 7   Male_Age(40-50)             15 non-null     float64
 8   Male_Age(50-60)             15 non-null     float64
 9   Male_Age(60-70)             15 non-null     float64
 10  Male_Age(70-80)             15 non-null     float64
 11  Male_Age(80+)               15 non-null     float64
 12  Female                      15 non-null     int64
 13  Female_Age(0-10)            15 non-null     float64
 14  Female_Age(10-20)           15 non-null     float64
 15  Female_Age(20-30)           15 non-null     float64
 16  Female_Age(30-40)           15 non-null     float64
 17  Female_Age(40-50)           15 non-null     float64
 18  Female_Age(50-60)           15 non-null     float64
 19  Female_Age(60-70)           15 non-null     float64
 20  Female_Age(70-80)           15 non-null     float64
 21  Female_Age(80+)             15 non-null     float64
 22  Birth Coef                  15 non-null     float64
 23  Number of Bitrh(Boys)       15 non-null     float64
 24  Number of Bitrh(Girls)      15 non-null     float64
 25  Total number of Birth       15 non-null     float64
 26  Death Coef                  15 non-null     float64
 27  Number of Death(Male)       15 non-null     float64
 28  Number of Death(Female)     15 non-null     float64
 29  Death Coef(Male)            15 non-null     float64
 30  Death Coef(Female)          15 non-null     float64
 31  Total Number of Death       15 non-null     float64
 32  Death Coef(Child)           15 non-null     float64
 33  Death Coef(Boys)            15 non-null     float64
 34  Death Coef(Girls)           15 non-null     float64
 35  Number of Arrivals          15 non-null     float64
 36  Number of Deaprtures        15 non-null     float64
 37  Migration Difference        15 non-null     float64
 38  Total Migration Difference  15 non-null     float64
dtypes: float64(35), int64(4)
memory usage: 4.7 KB

In [9]:
output_file_path = 'demography_from2009.csv'  
df.to_csv(output_file_path, index=False)

In [10]:
pd.set_option('display.max_columns', None)
print("Initial DataFrame:")
df

Initial DataFrame:

,Year,Population,Male,Male_Age(0-10),Male_Age(10-20),Male_Age(20-30),Male_Age(30-40),Male_Age(40-50),Male_Age(50-60),Male_Age(60-70),Male_Age(70-80),Male_Age(80+),Female,Female_Age(0-10),Female_Age(10-20),Female_Age(20-30),Female_Age(30-40),Female_Age(40-50),Female_Age(50-60),Female_Age(60-70),Female_Age(70-80),Female_Age(80+),Birth Coef,Number of Bitrh(Boys),Number of Bitrh(Girls),Total number of Birth,Death Coef,Number of Death(Male),Number of Death(Female),Death Coef(Male),Death Coef(Female),Total Number of Death,Death Coef(Child),Death Coef(Boys),Death Coef(Girls),Number of Arrivals,Number of Deaprtures,Migration Difference,Total Migration Difference
9,2009,1361877,625644,89334.0,102450.0,141017.0,100169.0,82217.0,57734.0,29312.0,17835.0,5576.0,736233,83851.0,104740.0,156642.0,115054.0,99505.0,79790.0,46466.0,34324.0,15861.0,18.48,13152.0,12281.0,25433.0,8.10,5721.0,5427.0,9.06,7.29,11148.0,16.31,17.27,15.29,2886.0,2795.0,91.0,14448.0
10,2010,1390610,637764,95161.0,94449.0,147895.0,103029.0,83191.0,59499.0,30048.0,18649.0,5843.0,752846,89294.0,95769.0,167742.0,118354.0,100265.0,81734.0,47578.0,35773.0,16337.0,18.21,13246.0,12289.0,25535.0,8.44,6109.0,5717.0,9.51,7.53,11826.0,17.08,19.87,14.08,2894.0,2524.0,370.0,8833.0
11,2011,1413152,646872,100442.0,87203.0,151700.0,105493.0,83461.0,62063.0,31005.0,19295.0,6210.0,766280,94069.0,87775.0,175009.0,121411.0,100897.0,84124.0,49270.0,36979.0,16746.0,17.60,13149.0,12046.0,25195.0,8.00,5912.0,5534.0,9.04,7.12,11446.0,17.05,18.55,15.42,3167.0,3046.0,121.0,22465.0
12,2012,1449366,660748,105964.0,84186.0,156334.0,107974.0,83869.0,64377.0,32069.0,19725.0,6250.0,788618,99168.0,87115.0,184102.0,124467.0,101437.0,86520.0,51280.0,38016.0,16513.0,18.36,13864.0,12974.0,26838.0,7.68,5789.0,5441.0,8.69,6.84,11230.0,12.60,13.70,11.43,2789.0,2935.0,-146.0,9875.0
13,2013,1474849,671973,112335.0,79484.0,158616.0,110798.0,84664.0,66304.0,33834.0,19541.0,6397.0,802876,104984.0,80555.0,189604.0,127605.0,102151.0,89071.0,54331.0,37841.0,16734.0,18.32,14050.0,13261.0,27311.0,7.26,5551.0,5268.0,8.17,6.49,10819.0,10.50,12.34,8.54,1848.0,2039.0,-191.0,15558.0
14,2014,1506899,686681,118202.0,79391.0,159218.0,114085.0,85692.0,68438.0,36213.0,19080.0,6362.0,820218,110736.0,110736.0,192096.0,131747.0,103451.0,91284.0,58627.0,37281.0,16369.0,19.15,15398.0,14274.0,29672.0,7.13,5626.0,5423.0,7.96,6.43,11049.0,8.27,9.18,7.28,1816.0,2413.0,-597.0,21992.0
15,2015,1641444,750417,131808.0,87043.0,167420.0,126831.0,93654.0,75528.0,41772.0,19553.0,6808.0,891027,123489.0,85799.0,201798.0,146370.0,112271.0,99081.0,67057.0,38103.0,17059.0,18.63,16204.0,14955.0,31159.0,6.33,5421.0,5158.0,7.09,5.68,10579.0,8.99,9.68,8.25,1707.0,2880.0,-1173.0,40742.0
16,2016,1702766,778823,139723.0,90801.0,170195.0,132967.0,96233.0,77778.0,44595.0,19305.0,7226.0,923943,130518.0,89394.0,205407.0,154451.0,115670.0,101425.0,71673.0,37641.0,17764.0,18.36,16343.0,15361.0,31704.0,6.25,5436.0,5358.0,6.88,5.72,10794.0,7.58,8.70,6.39,1783.0,3719.0,-1936.0,27632.0
17,2017,1751308,800421,145438.0,92740.0,169009.0,140315.0,99247.0,79437.0,46799.0,19528.0,7908.0,950887,136123.0,89627.0,206351.0,163696.0,119627.0,103091.0,75041.0,38361.0,18970.0,17.69,16366.0,15057.0,31423.0,6.15,5439.0,5496.0,6.70,5.69,10935.0,6.93,7.40,6.42,1731.0,3535.0,-1804.0,30197.0
18,2018,1801993,822587,151868.0,96433.0,164319.0,149947.0,101774.0,80743.0,48671.0,20143.0,8689.0,979406,142159.0,91886.0,203385.0,176183.0,123340.0,104533.0,77814.0,39384.0,20722.0,18.19,17142.0,16117.0,33259.0,6.39,5662.0,6016.0,6.78,6.06,11678.0,8.36,9.34,7.32,1449.0,3545.0,-2096.0,31082.0
19,2019,1854656,847273,157886.0,103336.0,156473.0,160891.0,105243.0,82079.0,50981.0,20972.0,9412.0,1007383,147263.0,97380.0,194115.0,191524.0,127407.0,105910.0,80917.0,40527.0,22340.0,18.19,17635.0,16673.0,34308.0,6.49,6181.0,6059.0,7.16,5.93,12240.0,8.05,9.40,6.62,1403.0,3622.0,-2219.0,40098.0
20,2020,1916822,879675,165081.0,112180.0,149022.0,174232.0,109507.0,83836.0,53673.0,22033.0,10111.0,1037147,152913.0,104770.0,182267.0,207546.0,131737.0,107814.0,83925.0,42394.0,23781.0,18.25,18505.0,17021.0,35526.0,7.42,7399.0,7041.0,8.28,6.68,14440.0,7.64,8.53,6.66,1690.0,2650.0,-960.0,39350.0
21,2021,1977258,907051,171780.0,120405.0,140367.0,184891.0,114218.0,85027.0,56762.0,22898.0,10703.0,1070207,159040.0,112533.0,171140.0,223669.0,137051.0,109681.0,87535.0,44687.0,24871.0,18.97,19574.0,18348.0,37922.0,9.12,8877.0,9343.0,9.68,8.62,18220.0,10.48,11.16,9.70,1882.0,3234.0,-1352.0,27901.0
22,2022,2101485,976659,203564.0,157549.0,140597.0,168248.0,118383.0,88327.0,63577.0,26063.0,10351.0,1124826,192928.0,149273.0,158462.0,191243.0,142489.0,114846.0,98580.0,49712.0,27293.0,16.94,18657.0,17453.0,36110.0,5.73,6178.0,6043.0,6.24,5.29,12221.0,5.03,5.69,4.31,3286.0,2060.0,1226.0,36528.0
23,2023,2161902,1003940,204568.0,161132.0,145597.0,174076.0,123158.0,90234.0,66246.0,28436.0,10493.0,1157962,193403.0,152115.0,164682.0,198938.0,147880.0,117197.0,102215.0,53971.0,27561.0,16.16,18283.0,17205.0,35488.0,5.43,6033.0,5890.0,5.92,5.01,11923.0,5.99,6.54,5.39,6409.0,1312.0,5097.0,43210.0

In [11]:
from sklearn.linear_model import LinearRegression
df['Year'] = df['Year'].astype(int)
df_clean = df[['Year', 'Birth Coef']].dropna()
X = df_clean['Year'].values.reshape(-1, 1)
y = df_clean['Birth Coef'].values

model = LinearRegression()
model.fit(X, y)


year_2024 = np.array([[2024]])
birth_coef_2024 = model.predict(year_2024)

print(f"Predicted Birth Coefficient for 2024: {birth_coef_2024[0]}")

Predicted Birth Coefficient for 2024: 17.50857142857143

/tmp/ipykernel_21191/2571405599.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = df['Year'].astype(int)

In [12]:
def cohort_component_model(df, birth_coef_2024):
    df_next_year = df.iloc[-1:].copy()
    df_next_year['Year'] += 1

   
    df_next_year['Male'] = df_next_year['Male'] * (df_next_year['Birth Coef'] - df_next_year['Death Coef(Male)']) + df_next_year['Total Migration Difference'] * 0.5
    df_next_year['Female'] = df_next_year['Female'] * (df_next_year['Birth Coef'] - df_next_year['Death Coef(Female)']) + df_next_year['Total Migration Difference'] * 0.5

    total_births = birth_coef_2024 * df_next_year['Female_Age(20-30)'].sum()
    births_male = total_births * 0.5
    births_female = total_births * 0.5

    
    df_next_year['Male_Age(80+)'] = df.iloc[-1]['Male_Age(70-80)']
    df_next_year['Male_Age(70-80)'] = df.iloc[-1]['Male_Age(60-70)']
    df_next_year['Male_Age(60-70)'] = df.iloc[-1]['Male_Age(50-60)']
    df_next_year['Male_Age(50-60)'] = df.iloc[-1]['Male_Age(40-50)']
    df_next_year['Male_Age(40-50)'] = df.iloc[-1]['Male_Age(30-40)']
    df_next_year['Male_Age(30-40)'] = df.iloc[-1]['Male_Age(20-30)']
    df_next_year['Male_Age(20-30)'] = df.iloc[-1]['Male_Age(10-20)']
    df_next_year['Male_Age(10-20)'] = df.iloc[-1]['Male_Age(0-10)']
    df_next_year['Male_Age(0-10)'] = births_male

    df_next_year['Female_Age(80+)'] = df.iloc[-1]['Female_Age(70-80)']
    df_next_year['Female_Age(70-80)'] = df.iloc[-1]['Female_Age(60-70)']
    df_next_year['Female_Age(60-70)'] = df.iloc[-1]['Female_Age(50-60)']
    df_next_year['Female_Age(50-60)'] = df.iloc[-1]['Female_Age(40-50)']
    df_next_year['Female_Age(40-50)'] = df.iloc[-1]['Female_Age(30-40)']
    df_next_year['Female_Age(30-40)'] = df.iloc[-1]['Female_Age(20-30)']
    df_next_year['Female_Age(20-30)'] = df.iloc[-1]['Female_Age(10-20)']
    df_next_year['Female_Age(10-20)'] = df.iloc[-1]['Female_Age(0-10)']
    df_next_year['Female_Age(0-10)'] = births_female

    return df_next_year


df_2024 = cohort_component_model(df, birth_coef_2024[0])

print("Projected DataFrame for the year 2024:")
df_2024

Projected DataFrame for the year 2024:

,Year,Population,Male,Male_Age(0-10),Male_Age(10-20),Male_Age(20-30),Male_Age(30-40),Male_Age(40-50),Male_Age(50-60),Male_Age(60-70),Male_Age(70-80),Male_Age(80+),Female,Female_Age(0-10),Female_Age(10-20),Female_Age(20-30),Female_Age(30-40),Female_Age(40-50),Female_Age(50-60),Female_Age(60-70),Female_Age(70-80),Female_Age(80+),Birth Coef,Number of Bitrh(Boys),Number of Bitrh(Girls),Total number of Birth,Death Coef,Number of Death(Male),Number of Death(Female),Death Coef(Male),Death Coef(Female),Total Number of Death,Death Coef(Child),Death Coef(Boys),Death Coef(Girls),Number of Arrivals,Number of Deaprtures,Migration Difference,Total Migration Difference
23,2024,2161902,10301950.6,1441673.28,204568.0,161132.0,145597.0,174076.0,123158.0,90234.0,66246.0,28436.0,12932881.3,1441673.28,193403.0,152115.0,164682.0,198938.0,147880.0,117197.0,102215.0,53971.0,16.16,18283.0,17205.0,35488.0,5.43,6033.0,5890.0,5.92,5.01,11923.0,5.99,6.54,5.39,6409.0,1312.0,5097.0,43210.0

In [14]:
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
features = df[['Year', 'Birth Coef', 'Death Coef(Male)', 'Death Coef(Female)', 'Total Migration Difference']]
target_male = df['Male']
target_female = df['Female']


X_train, X_test, y_train_male, y_test_male = train_test_split(features, target_male, test_size=0.2, random_state=42)
_, _, y_train_female, y_test_female = train_test_split(features, target_female, test_size=0.2, random_state=42)


xgb_model_male = XGBRegressor(objective='reg:squarederror', n_estimators=100)
xgb_model_male.fit(X_train, y_train_male)

xgb_model_female = XGBRegressor(objective='reg:squarederror', n_estimators=100)
xgb_model_female.fit(X_train, y_train_female)


features_2024 = pd.DataFrame({
    'Year': [2024],
    'Birth Coef': [df['Birth Coef'].mean()],  
    'Death Coef(Male)': [df['Death Coef(Male)'].mean()],  
    'Death Coef(Female)': [df['Death Coef(Female)'].mean()],  
    'Total Migration Difference': [df['Total Migration Difference'].mean()]  
})

predicted_male_2024 = xgb_model_male.predict(features_2024)
predicted_female_2024 = xgb_model_female.predict(features_2024)
overall_population = predicted_female_2024 + predicted_male_2024
print(f"Predicted Population for 2024: {overall_population}")
print(f"Predicted Male Population for 2024: {predicted_male_2024[0]}")
print(f"Predicted Female Population for 2024: {predicted_female_2024[0]}")


y_pred_male = xgb_model_male.predict(X_test)
y_pred_female = xgb_model_female.predict(X_test)

rmse_male = np.sqrt(mean_squared_error(y_test_male, y_pred_male))
rmse_female = np.sqrt(mean_squared_error(y_test_female, y_pred_female))

print(f"RMSE for Male Population Prediction: {rmse_male}")
print(f"RMSE for Female Population Prediction: {rmse_female}")


output_df = pd.DataFrame({
    'Year': [2024],
    'Male': predicted_male_2024,
    'Female': predicted_female_2024
})

Predicted Population for 2024: [2161901.5]
Predicted Male Population for 2024: 1003939.75
Predicted Female Population for 2024: 1157961.625
RMSE for Male Population Prediction: 23721.54802010299
RMSE for Female Population Prediction: 25664.083611178532